<div class="jumbotron">
  <div class="container">
    <h1>Congrats!</h1>
    <%= @sheet.payout %> Mona を <%= @sheet.payout_address %> に送信しました！
  </div>
</div>
<div class="container">
  Sheet ID: <%= @sheet.name %><br>
</div>
